@import 'Photon.scss';

.scs.card {
	box-shadow: $shadow-10;
	min-width: 15%;
	overflow: hidden;
	margin: 32px;
	transition: all 150ms $animation;
	border-radius: 4px;

	&:hover {
		box-shadow: $shadow-20;
	}
	& .header {
		font-size: $title-30;
		text-align: center;
		padding: 32px;

		&:first-of-type:not(:nth-last-of-type(1)) {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border: 1px solid $white-100;
			border-bottom: 0;
		}
	}
	& .body,
	& .footer {
		color: $grey-90;
		background-color: $white-100;
		overflow: auto;

		&:not(:empty) {
			padding: 8px;
		}
	}
	& .footer {
		flex-shrink: 0;
		border: 0;
	}
	&.large .body:not(:empty),
	&.large .footer:not(:empty) {
		padding: 20px;
	}
	// & .body:not(:empty) + .footer:not(:empty) {
	// 	padding-top: 0;
	// }
}
