@import 'Photon.scss';

.scs.card {
	border-radius: 4px;
	box-shadow: $shadow-10;
	min-width: 15%;
	overflow: hidden;
	margin: 32px;
	transition: all 150ms $animation;

	&:hover {
		box-shadow: $shadow-20;
	}
	& > .header {
		font-size: $title-30;
		text-align: center;
		padding: 32px;
	}
	& > .body,
	& > .footer {
		background-color: $white-100;
		overflow: auto;

		&:not(:empty) {
			padding: 8px;
		}
	}
	& > .footer {
		flex-shrink: 0;
		border: 0;
	}
	&.large > .body:not(:empty),
	&.large > .footer:not(:empty) {
		padding: 20px;
	}
	// & > .body:not(:empty) + .footer:not(:empty) {
	// 	padding-top: 0;
	// }
}
