body:not(.light) {
	background-color: $grey-70;
	color: $white-100;

	.scs {
		&.modal .card .body {
			color: $grey-90;
		}
		&.card {
			box-shadow: $light-shadow-10;
		}
		&.card:hover {
			box-shadow: $light-shadow-20;
		}
	}
	table {
		border: 1px solid $grey-80;
		background-color: $grey-60;
		color: $white-100;
		box-shadow: $light-shadow-10;
	}
	table thead {
		background-color: $grey-70;
		border: 1px solid $grey-80;
	}
	table thead th {
		border-bottom: 1px solid $grey-80;
	}
	table tbody tr:nth-child(even) {
		background-color: $grey-50;
	}
	table tr td.mangadex a[href] {
		color: $white-100;
	}
	table tbody td.actions button {
		color: $grey-10;
	}
	button.paging {
		color: $white-100;
	}
}
