@import 'Photon.scss';
@import 'Services.scss';

.entry-edit {
	.header.title {
		background: map.get($services-bg, 'sc');
		color: $grey-90;
	}
	.service {
		display: flex;
		align-items: center;
		width: 50%;

		img {
			flex-shrink: 0;
		}
	}
}
