.scs.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $grey-90-a80;
	transition: all $animation;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	animation: fade-in 200ms $animation 1 forwards;

	&.closed {
		user-select: none;
		animation: fade-out 150ms $animation 1 forwards;
	}
	& .card {
		margin: auto;
		max-width: 60vw;
		overflow: hidden;
		cursor: initial;
		max-height: 75vh;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;

		& .header {
			flex-shrink: 0;
			font-size: $title-40;
			font-weight: $light;
			padding: 16px 0;
			background-color: $grey-90-a90;
			color: $white-100;
		}
		& .footer {
			position: relative;
			height: auto;
		}
		form .primary,
		& .footer .primary {
			margin-right: 8px;
		}
	}
	&.small .card {
		max-width: 25rem;
	}
	&.medium .card {
		max-width: 40rem;
	}

	body:not(.light) & .card,
	&.dark .card {
		& .header {
			border-color: $grey-70;
		}
		& .body,
		& .footer {
			background-color: $grey-70;
			color: $white-100;
		}
	}
}
