@use 'sass:map';
@import 'Reset.scss';
@import 'Photon.scss';
@import 'Animations.scss';
@import 'Services.scss';
@import 'Modal.scss';
@import 'Card.scss';
@import 'Editor.scss';
@import 'Buttons.scss';
@import 'Form.scss';
@import 'Elements.scss';
@import 'Messages.scss';

// Color Input and Options only input
.dependency {
	margin-left: 32px;
}
.color {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 2px solid $grey-90-a20;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.color-input {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 8px;
}
.color-input input {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.color-input button:first-child {
	margin-right: 4px;
}

// Table
table {
	border: 1px solid $grey-20;
	border-radius: 2px;
	background-color: $white-100;
	color: $grey-90;
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	box-shadow: $shadow-10;
	margin-bottom: 16px;

	& thead {
		background-color: $grey-30;
		border: 1px solid $grey-20;
		position: sticky;
		top: 0;

		& th {
			border-bottom: 1px solid $grey-20;
			padding: 4px;
		}
	}
	& tbody tr:nth-child(even) {
		background-color: $grey-10;
	}
	& tbody tr td {
		padding: 4px;
	}
}

// Navigation
nav {
	padding: 16px;

	ul {
		list-style-type: none;

		li {
			padding: 8px 0;
			cursor: pointer;
			transition: all 150ms $animation;
			font-weight: $light;
			display: table;

			&:first-child {
				font-size: $display-20;
				font-weight: $extralight;
				cursor: default;
			}
			&:first-child:hover {
				font-weight: $extralight;
			}
			&:hover {
				font-weight: $bold;
			}
			img {
				vertical-align: middle;
			}
			&.active {
				font-weight: $bold;
			}
		}
	}
}

// Body
body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: $grey-10;
	color: $grey-90;
	transition: all 250ms $animation;
}
main {
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: auto;
}
hr {
	margin-bottom: 8px;
}

// Services
.services {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	&.selectable .card {
		cursor: pointer;
	}
	.card .body {
		display: flex;
		flex-flow: column wrap;

		button,
		.button {
			margin-bottom: 8px;
		}
		a.button img {
			padding-top: 8px;
		}
		button:last-child,
		.button:last-child,
		.message:last-child {
			margin-bottom: 0;
		}
	}
}

@each $key in map.keys($services) {
	.scs.modal .card .header.#{$key},
	.card .header.#{$key} {
		background: url('/icons/#{$key}.png') 8px center / 16px no-repeat, map.get($services-bg, $key);
		color: map.get($services-color, $key);
	}
}

// Import/Export$
.import-export {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;

	& > div {
		flex: 1;
	}
}
.import,
.export {
	display: flex;
	justify-content: space-around;

	& > .card {
		cursor: pointer;
	}
}
.import-export-modal {
	form {
		.parameter,
		.row-parameter {
			margin-bottom: 32px;
		}
		.parameter label {
			margin-bottom: 8px;
		}
		.parameter label:last-child {
			margin-bottom: 0;
		}
		&.closed {
			user-select: none;
			transform-origin: top center;
			animation: shrink 200ms 1 forwards;
		}
	}
	.message {
		overflow: hidden;

		&:not(.in-place) {
			font-size: $body-20;
			animation: flash 250ms 1 forwards;
		}
		&:not(.in-place).loading {
			font-size: $body-20;
			animation: flash 250ms 1 forwards, pulse 2s ease-in-out alternate infinite;
		}
	}
	.leave {
		margin-bottom: 8px;
	}
	ul.failed {
		transform-origin: top center;
		display: none;

		&.open {
			display: block;
			animation: expand 250ms 1 forwards;
		}
		li {
			line-height: 24px;
		}
	}
}

// Save Viewer
.save-viewer {
	table {
		width: 100%;

		tr {
			th {
				&.name {
					width: 20%;
				}
				&.actions {
					width: 5%;
				}
				&[data-field] {
					cursor: pointer;

					& i {
						margin-left: 4px;
					}
				}
			}
			td {
				&.mangadex a[href] {
					color: $grey-90;
				}
				&.name {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					text-align: left;
				}
			}
		}
	}
	button.paging {
		color: $grey-90;
	}
	button.paging.active {
		background-color: $grey-90-a30;
		font-weight: $bold;
	}
}
#search-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 8px;
	margin-bottom: 8px;
}
#paging-pages:not(:empty) {
	margin-right: 8px;
	margin-bottom: 8px;
}
#save-search-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#save-status {
	margin-left: 4px;
}
#save-search {
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}
#save-body .message {
	margin-bottom: 0;
}
#delete-selected {
	display: none;
}

// Changelog
ul.changelog {
	list-style-type: disclosure-closed;
	padding-left: 1rem;
}
ul.changelog {
	ul {
		list-style-type: initial;
	}

	ul,
	li {
		margin: revert;
		padding: revert;
	}
}

@import 'DarkTheme.scss';
