@use 'sass:map';
@import 'Reset.scss';
@import 'Photon.scss';
@import 'Animations.scss';
@import 'Services.scss';
@import 'Modal.scss';
@import 'Card.scss';
@import 'Editor.scss';
@import 'Buttons.scss';
@import 'Form.scss';
@import 'Elements.scss';

// Color Input and Options only input
.dependency {
	margin-left: 32px;
}
.color {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 2px solid $grey-90-a20;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.color-input {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 8px;
}
.color-input input {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.color-input button:first-child {
	margin-right: 4px;
}

// Messages
.message {
	border-radius: 4px;
	width: auto;
	font-size: $body-10;
	font-weight: $regular;
	color: $grey-90;
	background: $grey-20;
	margin-bottom: 8px;
	transition: all $animation;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: min-content auto;
	padding: 4px;

	& > div.icon {
		font-family: 'Font Awesome 5 Free';
		font-size: 16px;
		line-height: 16px;
		height: 16px;
		width: 16px;
		margin: 4px;
		padding: 4px;
	}
	& > div.icon::before {
		content: '\f05a';
	}
	& .content {
		align-self: center;
	}
	& .content > p {
		padding: 4px 0;
		white-space: pre-wrap;
	}
	&.hidden {
		min-height: 0px;
		max-height: 0px;
		overflow: hidden;
		margin-bottom: 0;
		padding: 0;
	}
	&.large {
		width: 100%;
	}
	&.loading > div.icon {
		animation: fa-spin 2s linear infinite;
		transform-origin: center center;

		&::before {
			content: '\f1ce';
		}
	}
	&.warning {
		color: $yellow-90;
		background: $yellow-50;

		& > div.icon::before {
			content: '\f071';
		}
	}
	&.success {
		color: $green-90;
		background: $green-50;
		& > div.icon::before {
			content: '\f00c';
		}
	}
	&.error {
		color: $white-100;
		background: $red-60;

		& > div.icon::before {
			content: '\f06a';
		}
	}
	& button,
	& .button {
		background-color: $grey-60;
		margin: 0 8px;

		&:hover {
			background-color: $grey-70;
		}
		&:active {
			background-color: $grey-80;
		}
	}
	&.warning button,
	&.warning .button {
		background-color: $yellow-60;

		&:hover {
			background-color: $yellow-70;
		}
		&:active {
			background-color: $yellow-80;
		}
	}
	&.success button,
	&.success .button {
		background-color: $green-60;

		&:hover {
			background-color: $green-70;
		}
		&:active {
			background-color: $green-80;
		}
	}
	&.error button,
	&.error .button {
		background-color: $red-60;

		&:hover {
			background-color: $red-70;
		}
		&:active {
			background-color: $red-80;
		}
	}
}

// Table
table {
	width: calc(100% - 16px - 2px);
	border: 1px solid $grey-20;
	border-radius: 2px;
	background-color: $white-100;
	color: $grey-90;
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	box-shadow: $shadow-10;

	& thead {
		background-color: $grey-30;
		border: 1px solid $grey-20;
		position: sticky;
		top: 0;

		& th {
			border-bottom: 1px solid $grey-20;
			padding: 4px;
		}
	}
	& tbody tr:nth-child(even) {
		background-color: $grey-10;
	}
	& tbody tr td {
		padding: 4px;
	}
}

// Navigation
nav {
	padding: 16px;

	ul {
		list-style-type: none;

		li {
			padding: 8px 0;
			cursor: pointer;
			transition: all 150ms $animation;
			font-weight: $light;
			display: table;

			&:first-child {
				font-size: $display-20;
				font-weight: $extralight;
				cursor: default;
			}
			&:first-child:hover {
				font-weight: $extralight;
			}
			&:hover {
				font-weight: $bold;
			}
			img {
				vertical-align: middle;
			}
			&.active {
				font-weight: $bold;
			}
		}
	}
}

// Body
body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: $grey-10;
	color: $grey-90;
	transition: all 250ms $animation;
}
main {
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: auto;
}

// Services
.services {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	&.selectable .card {
		cursor: pointer;
	}
	.card .body {
		display: flex;
		flex-flow: column wrap;

		button,
		.button {
			margin-bottom: 8px;
		}
		a.button img {
			padding-top: 8px;
		}
		button:last-child,
		.button:last-child,
		.message:last-child {
			margin-bottom: 0;
		}
	}
}

@each $key in map.keys($services) {
	.scs.modal .card .header.#{$key},
	.card .header.#{$key} {
		background: url('/icons/#{$key}.png') 8px center / 16px no-repeat, map.get($services-bg, $key);
		color: map.get($services-color, $key);
	}
}
// Custom separated Title
.sync {
	color: map.get($services-color, 'sc');
}
.sync .dex {
	color: map.get($services-secondary, 'sc');
}
.manga {
	color: map.get($services-secondary, 'md');
}
.manga .dex {
	color: map.get($services-color, 'md');
}
.ani {
	color: map.get($services-secondary, 'al');
}
.ani .list {
	color: map.get($services-color, 'al');
}

// Import Export Modal
.import-export-modal {
	form {
		.parameter,
		.row-parameter {
			margin-bottom: 32px;
		}
		.parameter label {
			margin-bottom: 8px;
		}
		.parameter label:last-child {
			margin-bottom: 0;
		}
		&.closed {
			user-select: none;
			transform-origin: top center;
			animation: shrink 200ms 1 forwards;
		}
	}
	.message {
		overflow: hidden;

		&:not(.in-place) {
			font-size: $body-20;
			animation: flash 250ms 1 forwards;
		}
		&:not(.in-place).loading {
			font-size: $body-20;
			animation: flash 250ms 1 forwards, pulse 2s ease-in-out alternate infinite;
		}
	}
	.leave {
		margin-bottom: 8px;
	}
	ul.failed {
		transform-origin: top center;
		display: none;

		&.open {
			display: block;
			animation: expand 250ms 1 forwards;
		}
		li {
			line-height: 24px;
		}
	}
}

// Save Viewer
.save-viewer {
	table {
		tr {
			th {
				&.name {
					width: 20%;
				}
				&.actions {
					width: 5%;
				}
			}
			td {
				&.mangadex a[href] {
					color: $grey-90;
				}
				&.name {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					text-align: left;
				}
			}
		}
	}
	button.paging {
		color: $grey-90;
	}
	button.paging.active {
		background-color: $grey-90-a30;
		font-weight: $bold;
	}
	#save-paging {
		display: grid;
		grid-template-columns: min-content auto;
		grid-gap: 4px;
	}
	#save-body .message {
		margin-bottom: 0;
	}
}

// Changelog
ul.changelog {
	list-style-type: disclosure-closed;
	padding-left: 1rem;
}
ul.changelog {
	ul {
		list-style-type: initial;
	}

	ul,
	li {
		margin: revert;
		padding: revert;
	}
}

@import 'DarkTheme.scss';
