.gn-badge {
	border-radius: 4px;
	padding: 1px;
	color: white;
	text-shadow: 1px 1px 2px black;

	&.t-success {
		background-color: $green-60;
		border: 1px solid $green-70;
	}
	&.t-info {
		background-color: $teal-60;
		border: 1px solid $teal-70;
	}
	&.t-warning {
		background-color: $orange-60;
		border: 1px solid $orange-70;
	}
	&.t-error {
		background-color: $red-60;
		border: 1px solid $red-70;
	}
}
