.status {
	font-size: 1.5rem;
}
.st0 {
	color: blueviolet; /** None */
}
.st1 {
	color: cornflowerblue; /** Reading */
}
.st2 {
	color: darkseagreen; /** Completed */
}
.st3 {
	color: orange; /** Paused */
}
.st4 {
	color: violet; /** Plan to Read */
}
.st5 {
	color: firebrick; /** Dropped */
}
.st6 {
	color: #3297b6; /** Re-reading */
}
.st7 {
	color: rgb(209, 32, 32); /** Won't Read */
}
