@use 'sass:map';
@import 'Photon.scss';
@import 'Animations.scss';
@import 'Services.scss';
@import 'Status.scss';
@import 'Card.scss';
@import 'Modal.scss';
@import 'Editor.scss';
@import 'Buttons.scss';
@import 'Form.scss';
@import 'Messages.scss';
@import 'SimpleNotification.scss';

@keyframes hide {
	0% {
		display: flex;
		transform: scaleY(1);
	}
	100% {
		display: none;
	}
}
@keyframes display {
	0% {
		display: none;
	}
	100% {
		display: flex;
		transform: scaleY(1);
	}
}

// Meta
.hidden,
.hidden-lang {
	overflow: hidden;
	max-height: 0;
	transform: scaleY(0);
	transform-origin: top;
	animation: hide 200ms $animation;
}
.hidden.full {
	display: none;
}
.hidden.visible:not(.hidden-lang),
.hidden.visible.hidden-lang.visible-lang,
.hidden-lang.visible-lang:not(.hidden) {
	transform: scaleY(1);
	max-height: 100px;
	animation: display 200ms $animation;
}
.hidden.full.visible {
	display: flex;
}

// Tooltips
.tooltip {
	display: block;
	position: absolute;
	border: 1px solid $white-100;
	border-radius: 2px;
	overflow: hidden;
	background-color: $grey-90-a80;
	opacity: 0;
	color: $white-100;
	z-index: 9999;
	pointer-events: none;
	max-height: 80vh;
	box-shadow: 0 1px 2px 0 $white-100;
	transition: opacity 200ms ease-in, top 200ms $animation, height 200ms $animation;

	&.loading {
		font-size: 1rem;
		padding: 0.25rem;
	}
	&.active {
		opacity: 1;
	}

	& > div {
		position: relative;
	}

	.thumbnail {
		max-width: 100%;
		max-height: inherit;
		display: block;
	}
	.thumbnail.loading {
		display: none;
	}
	&.has-chapters .thumbnail {
		border-bottom: 1px solid $grey-90-a60;
	}

	.content {
		position: absolute;
		display: inline-block;
		padding: 4px;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		left: 0;
		right: 0;
		opacity: 0.8;
		text-shadow: 0 0 1px black;
		box-shadow: 0px 0 3px black;
	}
	&.loading .content {
		display: none;
	}
}

// Title List
.has-status {
	justify-content: space-between;
}
.has-status .manga_title {
	flex-grow: 1;
}
.float-right.has-status {
	display: flex;
	align-items: center;
	float: none !important;
}
.float-right.has-status > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.6125rem;
}

// Title Overview
.overviews {
	.overview {
		position: relative;
		display: inline-block;
		border: 1px solid transparent;
		overflow: hidden;
		min-width: 140px;
		transition: all 0.2s $animation-circular;
		margin-right: 2px;
		margin-bottom: 2px;
		border-radius: 4px;

		.alert {
			margin-bottom: 0;
		}

		.header {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			padding: 4px;
			border-bottom: 1px solid transparent;
			cursor: pointer;
			overflow: hidden;

			.informations {
				display: flex;
				align-items: center;
			}

			.manage {
				opacity: 1;

				& > button {
					margin-right: 4px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		&.main .header {
			font-weight: bold;
		}

		.body {
			position: relative;
			padding: 4px;
			max-height: 200px;
			transition: all 0.2s $animation-circular;
			overflow: hidden;

			.status > .status {
				width: auto;
				display: inline-block;
			}

			.not-synced {
				color: $red-60;
				text-decoration: line-through;
			}
			.synced {
				color: $green-60;
			}

			.helper {
				font-size: 0.75rem;
				font-weight: lighter;
				opacity: 0.6;
			}
		}

		&.active {
			width: 100%;
			margin-right: 0;
			display: block;
		}
		&:not(.active) {
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}

			.header {
				border-bottom: 0;

				.manage {
					display: none;
					opacity: 0;
				}
			}

			.body {
				max-height: 0;
				padding: 0;
			}
		}

		// Services
		@each $key in map.keys($services) {
			&.#{$key} {
				color: map.get($services-color, $key);
				background-color: map.get($services-bg, $key);
			}
			&.#{$key},
			&.#{$key} .header {
				border-color: map.get($services-color, $key);
			}
		}
		&.sc .body {
			color: black;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $grey-90-a60;
			color: $white-100;
			display: flex;
			justify-content: center;
			align-items: center;
			user-select: none;
		}
	}

	// Dark Theme
	&.dark {
		@each $key, $color in $services-color-dark {
			.overview.#{$key} {
				color: $color;
			}
			.overview.#{$key},
			.overview.#{$key} .header {
				border-color: $color;
			}
		}
		@each $key, $color in $services-bg-dark {
			.overview.#{$key} {
				background-color: $color;
			}
		}
		.overview.sc .body {
			color: $white-100;
		}
	}
}
.has-error {
	color: $red-60;
}
.quick-buttons {
	width: 100%;
	text-align: center;

	button {
		margin-right: 4px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

// Reading Overview
.reading-overview {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.error {
		box-shadow: 0 0 4px 2px $red-60;
		background-color: $red-60;
	}
	.warning {
		box-shadow: 0 0 4px 2px $orange-60;
		background-color: $orange-60;
	}
	.synced {
		box-shadow: 0 0 4px 2px $green-60;
		background-color: $green-60;
	}
}
.volume-reset-chapter {
	justify-content: center;
	border-top: 0 !important;
}

// Updates
.top-bar-updates button a {
	padding: 0;
}

// History
#history {
	padding-top: 1rem;
}
.history-up {
	box-shadow: 0 0 6px -1px $green-60;
	border: 1px solid $green-60;
}
.history-up .car-caption,
.help.history-up {
	background-color: opacify($color: $green-60, $amount: 0.6);
}
.history-down {
	box-shadow: 0 0 6px 1px $blue-40;
	border: 1px solid $blue-40;
}
.history-down .car-caption,
.help.history-down {
	background-color: opacify($color: $blue-40, $amount: 0.6);
}
.help.history-down,
.help.history-up {
	color: white;
	padding: 4px;
	border-radius: 0.25rem;
}

// Title page
.chapter-container .row {
	.title-column {
		button.loading {
			opacity: 1;
		}
	}

	&:hover {
		.title-column {
			button {
				opacity: 1;
			}

			&.current {
				button.set-latest {
					opacity: 0;
					user-select: none;
					visibility: hidden;
					cursor: default;
				}
			}
		}
	}
}
.title-column {
	display: flex;
	justify-content: space-between;

	button,
	button.disabled,
	button:disabled {
		opacity: 0;

		&.set-latest:not(:last-child) {
			margin-right: 4px;
		}
	}
}
