@use 'sass:map';
@import 'Reset.scss';
@import 'Photon.scss';
@import 'Animations.scss';
@import 'Buttons.scss';
@import 'Elements.scss';

main {
	margin: auto;
	width: 40%;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: auto;
}

#main-title img {
	vertical-align: middle;
}

#open-options {
	width: 100%;
}

ul {
	list-style-type: initial;

	&.section {
		list-style-type: disclosure-closed;
		padding-left: 1rem;
	}

	&:not(.section),
	li {
		margin: revert;
		padding: revert;
	}
}

@import 'DarkTheme.scss';
