# ---> VisualStudioCode
.settings
.vscode
.idea
.jshintrc

# Build
build/chrome
build/firefox
build/scripts
build/css
tmp
web-ext-artifacts
node_modules

# Debug
manifest_template.json
scripts/debug.js
DEV.md

# Save
examples/*
export.json