:root {
	--animation: cubic-bezier(0.455, 0.03, 0.515, 0.955);

	--mymangadex: rgba(47, 82, 162);
	--mymangadex-bg: white;
	--syncdex-1: rgb(81, 165, 234);
	--syncdex-2: rgb(247, 148, 33);
	--syncdex-bg: #fefefe;
	--mangadex: rgba(247, 148, 33);
	--mangadex-bg: #2a2f34;
	--myanimelist: rgba(47, 82, 162);
	--myanimelist-bg: white;
	--anilist: rgb(2, 169, 255);
	--anilist-bg: rgb(31, 38, 49);
	--kitsu: #ffffff;
	--kitsu-bg: rgb(64, 47, 63);
	--mangaupdates: rgb(82, 102, 124);
	--mangaupdates-bg: rgb(240, 243, 247);
	--animeplanet: rgb(252, 83, 66);
	--animeplanet-bg: rgb(48, 48, 48);
}

/***
 * * Animations
 ***/

@keyframes pulse {
	0% {
		box-shadow: 0px 0px 4px 1px #78c5d5;
	}
	25% {
		box-shadow: 0px 0px 4px 1px #79c268;
	}
	50% {
		box-shadow: 0px 0px 4px 1px #f5d63d;
	}
	75% {
		box-shadow: 0px 0px 4px 1px #e868a1;
	}
	100% {
		box-shadow: 0px 0px 4px 1px #bf63a6;
	}
}

@keyframes pulse-bg {
	0% {
		background-color: #78c5d5;
	}
	25% {
		background-color: #79c268;
	}
	50% {
		background-color: #f5d63d;
	}
	75% {
		background-color: #e868a1;
	}
	100% {
		background-color: #bf63a6;
	}
}

/***
 * * Meta
 ***/

.loading {
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.has-transition {
	transition: all 200ms var(--animation);
}
.has-fast-in-transition {
	transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
}
.hidden {
	overflow: hidden;
	max-height: 0;
	transform: scaleY(0);
	transform-origin: top;
}
.hidden.visible {
	transform: scaleY(1);
	max-height: 100px;
}

/***
 * * Tooltips
 ***/

.sd-tooltip {
	display: block;
	position: absolute;
	border: 1px solid white;
	border-radius: 2px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: opacity 0.2s ease-in;
	color: #fff;
	z-index: 9999;
	pointer-events: none;
	max-height: 80vh;
	box-shadow: 0 1px 2px 0 white;
}
.sd-tooltip.loading {
	font-size: 1rem;
	padding: 0.25rem;
}
.sd-tooltip.active {
	opacity: 1;
}
.sd-tooltip .thumbnail {
	max-width: 100%;
	max-height: inherit;
	display: block;
}
.sd-tooltip .thumbnail.loading {
	display: none;
}
.sd-tooltip.has-chapters .thumbnail {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.sd-tooltip-content {
	display: inline-block;
	padding: 4px;
}
.sd-tooltip.loading .sd-tooltip-content {
	display: none;
}

/***
 * * Overview
 ***/

.overview .quick-buttons {
	margin-bottom: 4px;
}
.overview .tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.overview .alert {
	margin-bottom: 0;
}
.overview .tabs::before {
	z-index: 1;
}
.overview .tabs::after {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid transparent;
	z-index: 1;
	transition: all 150ms var(--animation);
}
.overview .tabs .tab {
	margin: 0 8px;
	padding: 4px 8px;
	border: 1px solid transparent;
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
	transition: all 150ms var(--animation);
}
.overview .tabs .tab.main {
	font-weight: bold;
}
.overview .tabs .tab:last-child {
	margin-right: 0;
}
.overview .tabs .tab.active {
	z-index: 2;
}
.overview .bodies {
	position: relative;
}
.overview .body {
	border: 1px solid transparent;
	border-top: 0;
	padding: 4px;
	border-radius: 2px;
	background-color: white;
	color: black;
	opacity: 1;
	transition: all 150ms var(--animation);
	position: relative;
	display: flex;
	justify-content: space-between;
}
.overview .body.hidden {
	opacity: 0;
	padding: 0;
	border: 0;
}
.overview .body .content {
	align-self: center;
	flex-grow: 1;
}
.overveiw .body .manage {
	display: flex;
	align-items: flex-start;
	flex-flow: column;
}
.overveiw .body .manage button {
	margin-bottom: 4px;
}
/** Services */
.overview.mal .tabs::after {
	border-color: var(--myanimelist);
}
.overview .tab.mal {
	color: var(--myanimelist);
	border-color: var(--myanimelist);
	background-color: var(--myanimelist-bg);
}
.overview .tab.mal.active {
	border-bottom-color: var(--myanimelist-bg);
}
.overview.mal .body {
	color: black;
	border-color: var(--myanimelist);
	background-color: var(--myanimelist-bg);
}

.overview.al .tabs::after {
	border-color: var(--anilist);
}
.overview .tab.al {
	color: var(--anilist);
	border-color: var(--anilist);
	background-color: var(--anilist-bg);
}
.overview .tab.al.active {
	border-bottom-color: var(--anilist-bg);
}
.overview.al .body {
	color: white;
	border-color: var(--anilist);
	background-color: var(--anilist-bg);
}

.overview.ku .tabs::after {
	border-color: var(--kitsu);
}
.overview .tab.ku {
	color: var(--kitsu);
	border-color: var(--kitsu);
	background-color: var(--kitsu-bg);
}
.overview .tab.ku.active {
	border-bottom-color: var(--kitsu-bg);
}
.overview.ku .body {
	color: white;
	border-color: var(--kitsu);
	background-color: var(--kitsu-bg);
}

.overview.ap .tabs::after {
	border-color: var(--animeplanet);
}
.overview .tab.ap {
	color: var(--animeplanet);
	border-color: var(--animeplanet);
	background-color: var(--animeplanet-bg);
}
.overview .tab.ap.active {
	border-bottom-color: var(--animeplanet-bg);
}
.overview.ap .body {
	color: white;
	border-color: var(--animeplanet);
	background-color: var(--animeplanet-bg);
}

.overview.mu .tabs::after {
	border-color: var(--mangaupdates);
}
.overview .tab.mu {
	color: var(--mangaupdates);
	border-color: var(--mangaupdates);
	background-color: var(--mangaupdates-bg);
}
.overview .tab.mu.active {
	border-bottom-color: var(--mangaupdates-bg);
}
.overview.mu .body {
	color: var(--mangaupdates);
	border-color: var(--mangaupdates);
	background-color: var(--mangaupdates-bg);
}
.helper {
	font-size: 0.75rem;
	font-weight: lighter;
	opacity: 0.6;
}
.syncing {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
/** Status */
.status {
	font-size: 1.5rem;
}
/** None */
.st0 {
	color: blueviolet;
}
/** Reading */
.st1 {
	color: cornflowerblue;
}
/** Completed */
.st2 {
	color: darkseagreen;
}
/** Paused */
.st3 {
	color: orange;
}
/** Plan to Read */
.st4 {
	color: violet;
}
/** Dropped */
.st5 {
	color: firebrick;
}
/** Re-reading */
.st6 {
	color: #3297b6;
}
/** Won't Read */
.st7 {
	color: rgb(209, 32, 32);
}
