:root {
	/* Photon Colors CSS Variables v3.2.0 */

	--magenta-50: #ff1ad9;
	--magenta-60: #ed00b5;
	--magenta-70: #b5007f;
	--magenta-80: #7d004f;
	--magenta-90: #440027;

	--purple-30: #c069ff;
	--purple-40: #ad3bff;
	--purple-50: #9400ff;
	--purple-60: #8000d7;
	--purple-70: #6200a4;
	--purple-80: #440071;
	--purple-90: #25003e;

	--blue-40: #45a1ff;
	--blue-50: #0a84ff;
	--blue-50-a30: rgba(10, 132, 255, 0.3);
	--blue-60: #0060df;
	--blue-70: #003eaa;
	--blue-80: #002275;
	--blue-90: #000f40;

	--teal-50: #00feff;
	--teal-60: #00c8d7;
	--teal-70: #008ea4;
	--teal-80: #005a71;
	--teal-90: #002d3e;

	--green-50: #30e60b;
	--green-60: #12bc00;
	--green-70: #058b00;
	--green-80: #006504;
	--green-90: #003706;

	--yellow-50: #ffe900;
	--yellow-60: #d7b600;
	--yellow-70: #a47f00;
	--yellow-80: #715100;
	--yellow-90: #3e2800;

	--red-50: #ff0039;
	--red-60: #d70022;
	--red-70: #a4000f;
	--red-80: #5a0002;
	--red-90: #3e0200;

	--orange-50: #ff9400;
	--orange-60: #d76e00;
	--orange-70: #a44900;
	--orange-80: #712b00;
	--orange-90: #3e1300;

	--grey-10: #f9f9fa;
	--grey-10-a10: rgba(249, 249, 250, 0.1);
	--grey-10-a20: rgba(249, 249, 250, 0.2);
	--grey-10-a40: rgba(249, 249, 250, 0.4);
	--grey-10-a60: rgba(249, 249, 250, 0.6);
	--grey-10-a80: rgba(249, 249, 250, 0.8);
	--grey-20: #ededf0;
	--grey-30: #d7d7db;
	--grey-40: #b1b1b3;
	--grey-50: #737373;
	--grey-60: #4a4a4f;
	--grey-70: #38383d;
	--grey-80: #2a2a2e;
	--grey-90: #0c0c0d;
	--grey-90-a05: rgba(12, 12, 13, 0.05);
	--grey-90-a10: rgba(12, 12, 13, 0.1);
	--grey-90-a20: rgba(12, 12, 13, 0.2);
	--grey-90-a30: rgba(12, 12, 13, 0.3);
	--grey-90-a40: rgba(12, 12, 13, 0.4);
	--grey-90-a50: rgba(12, 12, 13, 0.5);
	--grey-90-a60: rgba(12, 12, 13, 0.6);
	--grey-90-a70: rgba(12, 12, 13, 0.7);
	--grey-90-a80: rgba(12, 12, 13, 0.8);
	--grey-90-a90: rgba(12, 12, 13, 0.9);

	--ink-70: #363959;
	--ink-80: #202340;
	--ink-90: #0f1126;

	--white-100: #ffffff;

	--shadow-10: 0 1px 4px rgba(12, 12, 13, 0.1);
	--light-shadow-10: 0 1px 4px rgba(255, 255, 255, 0.1);
	--shadow-20: 0 2px 8px rgba(12, 12, 13, 0.1);
	--light-shadow-20: 0 2px 8px rgba(255, 255, 255, 0.1);
	--shadow-30: 0 4px 16px rgba(12, 12, 13, 0.1);
	--light-shadow-30: 0 4px 16px rgba(255, 255, 255, 0.1);

	--focus: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);

	--caption-10: 11px; /* regular */
	--caption-20: 13px;
	--caption-30: 15px;
	--body-10: 13px;
	--body-20: 15px;
	--body-30: 17px;
	--title-10: 13px; /* medium */
	--title-20: 17px;
	--title-30: 22px; /* light */
	--title-40: 28px;
	--display-20: 36px; /* extralight */

	--extralight: 300;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;

	--animation: cubic-bezier(0.07, 0.95, 0, 1);

	--mymangadex: rgba(47, 82, 162);
	--mymangadex-bg: white;
	--syncdex-1: rgb(81, 165, 234);
	--syncdex-2: rgb(247, 148, 33);
	--syncdex-bg: #fefefe;
	--mangadex: rgba(247, 148, 33);
	--mangadex-bg: #2a2f34;
	--myanimelist: rgba(47, 82, 162);
	--myanimelist-bg: white;
	--anilist: rgb(2, 169, 255);
	--anilist-bg: rgb(31, 38, 49);
	--kitsu: #ffffff;
	--kitsu-bg: rgb(64, 47, 63);
	--mangaupdates: rgb(82, 102, 124);
	--mangaupdates-bg: rgb(240, 243, 247);
	--animeplanet: rgb(252, 83, 66);
	--animeplanet-bg: rgb(48, 48, 48);
}

@keyframes pulse {
	0% {
		box-shadow: 0px 0px 4px 3px var(--blue-40);
	}
	25% {
		box-shadow: 0px 0px 4px 3px var(--green-50);
	}
	50% {
		box-shadow: 0px 0px 4px 3px var(--yellow-50);
	}
	75% {
		box-shadow: 0px 0px 4px 3px var(--magenta-50);
	}
	100% {
		box-shadow: 0px 0px 4px 3px var(--purple-40);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes expand {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes shrink {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
		display: none;
	}
}

@keyframes flash {
	0% {
		filter: contrast(0%);
	}
	100% {
		filter: contrast(100%);
	}
}

.loading {
	animation: pulse 2s ease-in-out alternate infinite;
}

*:disabled,
*.disabled {
	opacity: 0.4;
}

/* Links */
*[href] {
	color: var(--blue-60);
	text-decoration: none;
}
*[href] img,
*[href] i {
	vertical-align: middle;
}
*[href]:hover {
	text-decoration: underline;
}
*[href]:active {
	color: var(--blue-70);
	text-decoration: underline;
}
*[href]:focus {
	box-shadow: var(--focus);
}

/* Buttons */
button,
.button {
	border: 0;
	cursor: pointer;
	font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	text-align: center;
	line-height: 16px;
	transition: all 250ms var(--animation);
}
button.hidden,
.button.hidden {
	display: none;
}
button,
.button,
button.default,
.button.default {
	border-radius: 2px;
	height: 32px;
	padding: 0 8px;
	font-size: 13px;
	font-weight: 400;
	min-width: 132px;
	width: auto;
}
button img,
.button img,
button i,
.button i {
	float: left;
	font-size: 16px;
	line-height: 32px;
}
/*	Styles */
button.primary,
.button.primary {
	color: var(--white-100);
	background-color: var(--blue-60);
}
button.primary:hover,
.button.primary:hover {
	background-color: var(--blue-70);
}
button.primary:active,
.button.primary:active {
	background-color: var(--blue-80);
}
button.primary:focus,
.button.primary:focus {
	box-shadow: var(--focus);
}
button.default,
.button.default {
	color: var(--grey-90);
	background-color: var(--grey-90-a10);
}
button.default:hover,
.button.default:hover {
	background-color: var(--grey-90-a20);
}
button.default:active,
.button.default:active {
	background-color: var(--grey-90-a30);
}
button.default:focus,
.button.default:focus {
	box-shadow: var(--focus);
}
button.ghost,
.button.ghost {
	color: var(--grey-90-a30);
	background: transparent;
	height: 32px;
	min-width: 32px;
	width: 32px;
	padding: 8px;
}
button.ghost:hover,
.button.ghost:hover {
	background-color: var(--grey-90-a10);
}
button.ghost:active,
.button.ghost:active {
	background-color: var(--grey-90-a20);
}
button.ghost:focus,
.button.ghost:focus {
	box-shadow: var(--focus);
}
button.danger,
.button.danger {
	color: var(--white-100);
	background-color: var(--red-60);
}
button.danger:hover,
.button.danger:hover {
	background-color: var(--red-70);
}
button.danger:active,
.button.danger:active {
	background-color: var(--red-80);
}
button.danger:focus,
.button.danger:focus {
	box-shadow: var(--focus);
}
a.button {
	line-height: 32px;
}
a.button:hover {
	text-decoration: none;
}
a.button:active {
	text-decoration: none;
}
a.button:focus {
	text-decoration: none;
}

/*	Sizes */
button.micro,
.button.micro {
	border-radius: 2px;
	height: 24px;
	padding: 0 8px;
	font-size: 11px;
	font-weight: 400;
}
a.button.micro {
	line-height: 24px;
}
button.puffy,
.button.puffy {
	border-radius: 4px;
	height: 48px;
	padding: 0 16px;
	font-size: 15px;
	font-weight: 400;
	width: auto;
}
a.button.puffy {
	line-height: 48px;
}
button.fill,
.button.fill {
	display: block;
	width: 100%;
}

/* Inputs */
input {
	font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	display: block;
}
label,
.label {
	cursor: pointer;
	display: block;
	line-height: 20px;
}
input[type] {
	border-radius: 2px;
	padding: 0 8px;
	width: auto;
	height: 32px;
	color: var(--grey-90);
	border: 2px solid var(--grey-90-a20);
}
input[type].fill {
	width: 100%;
	box-sizing: border-box;
}
input[type]::placeholder {
	color: var(--grey-50);
}
input[type]:hover {
	border-color: var(--grey-90-a30);
}
input[type]:focus {
	border-color: var(--blue-50);
	box-shadow: var(--focus);
}
input[type='file'] {
	cursor: pointer;
}

/* Select */
select {
	border-radius: 2px;
	padding: 0 8px;
	width: auto;
	height: 32px;
	color: var(--grey-90);
	border: 2px solid var(--grey-90-a20);
}

/*	Checkbox */
.checkbox {
	border-radius: 2px;
	height: 16px;
	width: 16px;
	color: var(--white-100);
	font-size: 16px;
	background-color: var(--grey-90-a10);
	border: 1px solid var(--grey-60);
	cursor: pointer;
	transition: all 150ms var(--animation);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}
.checkbox img,
.checkbox i {
	opacity: 0;
	transition: all 150ms var(--animation);
}
.checkbox:hover {
	background-color: var(--grey-90-a20);
}
.checkbox:active {
	background-color: var(--grey-90-a30);
}
.checkbox:focus {
	box-shadow: var(--focus);
}
.checkbox.checked {
	background-color: var(--blue-60);
	border-color: transparent;
}
.checkbox.checked img,
.checkbox.checked i {
	opacity: 1;
}
.checkbox.checked:hover {
	background-color: var(--blue-70);
}
.checkbox.checked:active {
	background-color: var(--blue-80);
}
.checkbox.checked:focus {
	box-shadow: var(--focus);
}

/* Messages */
.message {
	border-radius: 4px;
	width: auto;
	font-size: var(--body-10);
	font-weight: var(--regular);
	color: var(--grey-90);
	background: var(--grey-20);
	margin-bottom: 8px;
	transition: all var(--animation);
	display: grid;
	grid-gap: 4px;
	grid-template-columns: min-content auto;
	padding: 4px;
}
.message > div.icon {
	font-family: 'Font Awesome 5 Free';
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	width: 16px;
	margin: 4px;
	padding: 4px;
}
.message > div.icon::before {
	content: '\f05a';
}
.message .content {
	align-self: center;
}
.message .content > p {
	padding: 4px 0;
	white-space: pre-wrap;
}
.message.hidden {
	min-height: 0px;
	max-height: 0px;
	overflow: hidden;
	margin-bottom: 0;
	padding: 0;
}
.message.large {
	width: 100%;
}
.message.loading > div.icon {
	animation: fa-spin 2s linear infinite;
	transform-origin: center center;
}
.message.loading > div.icon::before {
	content: '\f1ce';
}
.message.warning {
	color: var(--yellow-90);
	background: var(--yellow-50);
}
.message.warning > div.icon::before {
	content: '\f071';
}
.message.success {
	color: var(--green-90);
	background: var(--green-50);
}
.message.success > div.icon::before {
	content: '\f00c';
}
.message.error {
	color: var(--white-100);
	background: var(--red-60);
}
.message.error > div.icon::before {
	content: '\f06a';
}
.message button,
.message .button {
	background-color: var(--grey-60);
	margin: 0 8px;
}
.message button:hover,
.message .button:hover {
	background-color: var(--grey-70);
}
.message button:active,
.message .button:active {
	background-color: var(--grey-80);
}
.message.warning button,
.message.warning .button {
	background-color: var(--yellow-60);
}
.message.warning button:hover,
.message.warning .button:hover {
	background-color: var(--yellow-70);
}
.message.warning button:active,
.message.warning .button:active {
	background-color: var(--yellow-80);
}
.message.success button,
.message.success .button {
	background-color: var(--green-60);
}
.message.success button:hover,
.message.success .button:hover {
	background-color: var(--green-70);
}
.message.success button:active,
.message.success .button:active {
	background-color: var(--green-80);
}
.message.error button,
.message.error .button {
	background-color: var(--red-60);
}
.message.error button:hover,
.message.error .button:hover {
	background-color: var(--red-70);
}
.message.error button:active,
.message.error .button:active {
	background-color: var(--red-80);
}

/* Cards */
.card {
	border-radius: 4px;
	box-shadow: var(--shadow-10);
	min-width: 15%;
	overflow: hidden;
	margin: 32px;
	transition: all 150 var(--animation);
}
.card:hover {
	box-shadow: var(--shadow-20);
}
.card .header {
	font-size: var(--title-30);
	text-align: center;
	padding: 32px;
}
.card > .content {
	padding: 8px;
	background-color: var(--white-100);
}
.card.large > .content {
	padding: 20px;
}
.card .body {
	overflow: auto;
}

/* Table */
table {
	width: calc(100% - 16px - 2px);
	border: 1px solid var(--grey-20);
	border-radius: 2px;
	background-color: var(--white-100);
	color: var(--grey-90);
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	box-shadow: var(--shadow-10);
}
table thead {
	background-color: var(--grey-30);
	border: 1px solid var(--grey-20);
	position: sticky;
	top: 0;
}
table thead th {
	border-bottom: 1px solid var(--grey-20);
	padding: 4px;
}
table tbody tr:nth-child(even) {
	background-color: var(--grey-10);
}
table tbody tr td {
	padding: 4px;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
}

/* Utility */
.helper {
	font-size: var(--caption-30);
	font-weight: var(--regular);
	color: var(--grey-50);
}

/* SyncDex */
html {
	font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: var(--body-20);
	font-weight: var(--regular);
}
body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: var(--grey-10);
	color: var(--grey-90);
	transition: all 250ms var(--animation);
}

/*	Navigation */
nav {
	padding: 16px;
}
nav ul {
	list-style-type: none;
}
nav ul li:first-child {
	font-size: var(--display-20);
	font-weight: var(--extralight);
	cursor: default;
}
nav ul li:first-child:hover {
	font-weight: var(--extralight);
}
nav ul li {
	padding: 8px 0;
	cursor: pointer;
	transition: all 150ms var(--animation);
	font-weight: var(--light);
	display: table;
}
nav ul li:hover {
	font-weight: var(--bold);
}
nav ul li img {
	vertical-align: middle;
}
nav ul li.active {
	font-weight: var(--bold);
}
main {
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: auto;
}
h1 {
	font-size: var(--title-40);
	font-weight: var(--medium);
	margin: 16px 0;
}
h2 {
	font-size: var(--title-20);
	font-weight: var(--medium);
	margin-bottom: 4px;
}
.section {
	margin-bottom: 64px;
}
.block {
	margin-bottom: 32px;
}
.paragraph {
	margin-bottom: 4px;
}
.center {
	text-align: center;
	align-self: center;
}
.right {
	text-align: right;
}

/*	Services */
.services {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
.services.selectable .card {
	cursor: pointer;
}
.services .card .content {
	display: flex;
	flex-flow: column wrap;
}
.services .card .content button,
.services .card .content .button {
	margin-bottom: 8px;
}
.services .card .content a.button img {
	padding-top: 8px;
}
.services .card .content button:last-child,
.services .card .content .button:last-child,
.services .card .content .message:last-child {
	margin-bottom: 0;
}
.card .header.mymangadex {
	background: url('/icons/mmd.png') 8px center / 16px no-repeat, var(--myanimelist-bg);
	color: var(--myanimelist);
}
.card .header.syncdex {
	background: url('/icons/sc.png') 8px center / 16px no-repeat, var(--syncdex-bg);
}
.sync {
	color: var(--syncdex-1);
}
.sync .dex {
	color: var(--syncdex-2);
}
.card .header.mangadex {
	background: url('/icons/md.png') 8px center / 16px no-repeat, var(--mangadex-bg);
	color: var(--mangadex);
}
.manga {
	color: white;
}
.manga .dex {
	color: var(--mangadex);
}
.card .header.myanimelist {
	background: url('/icons/mal.png') 8px center / 16px no-repeat, var(--myanimelist-bg);
	color: var(--myanimelist);
}
.card .header.anilist {
	background: url('/icons/al.png') 8px center / 16px no-repeat, var(--anilist-bg);
	color: var(--anilist);
}
.ani {
	color: white;
}
.ani .list {
	color: var(--anilist);
}
.card .header.kitsu {
	background: url('/icons/ku.png') 8px center / 16px no-repeat, var(--kitsu-bg);
	color: var(--kitsu);
}
.card .header.mangaupdates {
	background: url('/icons/mu.png') 8px center / 16px no-repeat, var(--mangaupdates-bg);
	color: var(--mangaupdates);
}
.card .header.animeplanet {
	background: url('/icons/ap.png') 8px center / 16px no-repeat, var(--animeplanet-bg);
	color: var(--animeplanet);
}

/*	Parameters */
.parameter {
	display: grid;
	grid-template-columns: 20px auto;
	grid-template-rows: auto;
	margin-bottom: 32px;
	gap: 8px;
	/*background-color: var(--white-100);
	padding: 4px;
	border: 1px solid var(--grey-20);
	border-radius: 2px;*/
}
.row-parameter {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	margin-bottom: 8px;
	gap: 4px;
	/*background-color: var(--white-100);
	padding: 4px;
	border: 1px solid var(--grey-20);
	border-radius: 2px;*/
}
.row-parameter > :nth-child(2n) {
	margin-bottom: 8px;
}
.dependency {
	margin-left: 32px;
}
.color {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 2px solid var(--grey-90-a20);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.color-input {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 8px;
}
.color-input input {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.color-input button:first-child {
	margin-right: 4px;
}

/* Modal */
.modal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--grey-90-a60);
	transition: all var(--animation);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	animation: fade-in 200ms var(--animation) 1 forwards;
}
.modal.closed {
	user-select: none;
	animation: fade-out 150ms var(--animation) 1 forwards;
}
.modal > .content {
	margin-left: 20%;
	margin-right: 20%;
	min-width: 20rem;
	overflow: hidden;
	cursor: initial;
	max-height: 75vh;
	display: flex;
	flex-flow: column nowrap;
}
.modal.small > .content {
	margin-left: 40%;
	margin-right: 40%;
}
.modal.medium > .content {
	margin-left: 30%;
	margin-right: 30%;
}
.modal > .content > .header {
	border-radius: 2px;
	flex-shrink: 0;
	font-size: var(--title-40);
	font-weight: var(--light);
	padding: 16px 0;
}
.modal.small > .content form .primary {
	margin-bottom: 8px;
}
.modal > .content form .primary {
	margin-right: 8px;
}
.ieport form .parameter,
.ieport form .row-parameter {
	margin-bottom: 32px;
}
.ieport form.closed {
	user-select: none;
	transform-origin: top center;
	animation: shrink 200ms 1 forwards;
}
.ieport .message {
	overflow: hidden;
}
.ieport .message:not(.in-place) {
	font-size: var(--body-20);
	animation: flash 250ms 1 forwards;
}
.ieport .message:not(.in-place).loading {
	font-size: var(--body-20);
	animation: flash 250ms 1 forwards, pulse 2s ease-in-out alternate infinite;
}
.ieport .leave {
	margin-bottom: 8px;
}
.ieport ul.failed {
	transform-origin: top center;
	display: none;
}
.ieport ul.failed.open {
	display: block;
	animation: expand 250ms 1 forwards;
}
.ieport ul.failed li {
	line-height: 24px;
}

/* Save Viewer */
#save-wrapper {
	max-height: 80vh;
	overflow-y: auto;
}
table tr th.name {
	width: 20%;
}
table tr th.actions {
	width: 5%;
}
table tr td.mangadex a[href] {
	color: var(--grey-90);
}
table tr td.name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
button.paging {
	color: var(--grey-90);
}
button.paging.active {
	background-color: var(--grey-90-a30);
	font-weight: var(--bold);
}
#save-paging {
	display: grid;
	grid-template-columns: min-content auto;
	grid-gap: 4px;
}
.card .header.title {
	background: var(--syncdex-bg);
	color: var(--grey-90);
}
form .row {
	display: grid;
	grid-template-columns: 50%;
	grid-gap: 8px;
	grid-auto-flow: column;
	margin-bottom: 16px;
}
form .row input[type] {
	min-width: 200px;
}

/* Dark Theme */
body:not(.light) {
	background-color: var(--grey-70);
	color: var(--white-100);
}
body:not(.light) {
	background-color: var(--grey-70);
	color: var(--white-100);
}
body:not(.light) .modal .card > .content {
	color: var(--grey-90);
}
body:not(.light) .card {
	box-shadow: var(--light-shadow-10);
}
body:not(.light) .card:hover {
	box-shadow: var(--light-shadow-20);
}
body:not(.light) table {
	border: 1px solid var(--grey-80);
	background-color: var(--grey-60);
	color: var(--white-100);
	box-shadow: var(--light-shadow-10);
}
body:not(.light) table thead {
	background-color: var(--grey-70);
	border: 1px solid var(--grey-80);
}
body:not(.light) table thead th {
	border-bottom: 1px solid var(--grey-80);
}
body:not(.light) table tbody tr:nth-child(even) {
	background-color: var(--grey-50);
}
body:not(.light) .modal .card > .content {
	color: var(--grey-90);
}
body:not(.light) table tr td.mangadex a[href] {
	color: var(--white-100);
}
body:not(.light) table tbody td.actions button {
	color: var(--grey-10);
}
body:not(.light) button.paging {
	color: var(--white-100);
}
