@keyframes pulse {
	0% {
		box-shadow: 0px 0px 4px 3px #78c5d5;
		/* background-color: #78c5d5; */
	}
	25% {
		box-shadow: 0px 0px 4px 3px #79c268;
		/* background-color: #79c268; */
	}
	50% {
		box-shadow: 0px 0px 4px 3px #f5d63d;
		/* background-color: #f5d63d; */
	}
	75% {
		box-shadow: 0px 0px 4px 3px #e868a1;
		/* background-color: #e868a1; */
	}
	100% {
		box-shadow: 0px 0px 4px 3px #bf63a6;
		/* background-color: #bf63a6; */
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	background-color: #111523;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1rem;
}

#menu {
	width: 20%;
	flex-shrink: 0;
	display: flex;
	justify-content: right;
	align-items: center;
	background-color: #2f3845;
	box-shadow: 0 0 4px 2px #2f3845;
	z-index: 2;
}

#menu ul {
	list-style-type: none;
}

#menu ul li {
	font-size: 1.5rem;
	margin: 0.5rem;
	color: #d3d3d3;
	margin-right: 0;
	overflow: hidden;
	transition: 0.1s ease-in-out;
	cursor: pointer;
	padding: 0.75rem;
}

#menu ul li:hover,
#menu ul li.active {
	background-color: #d3d3d3;
	box-shadow: 0 0 4px 2px #d3d3d3;
	color: #2f3845;
}

#menu ul li:hover {
	background-color: #b6b6b6;
}

#content {
	flex: 1;
	color: #d6d6d6;
	z-index: 1;
	max-height: 100vh;
	overflow: auto;
}

#content > h1,
h1.full {
	background-color: #5f5d60;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	color: #f0f0f0;
	text-shadow: 1px 1px 1px #19201a;
	margin: 1rem 0;
	padding: 1rem;
	user-select: none;
}

#content > h2,
h2.full {
	background-color: #5f5d60;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	color: #f0f0f0;
	text-shadow: 1px 1px 1px #19201a;
	margin: 1rem 0;
	padding: 1rem;
	user-select: none;
}

.services {
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
	padding-bottom: 0;
	align-items: center;
}

.service {
	background-color: #f7f7f7;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-radius: 3px;
	padding: 1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	user-select: none;
	color: #131313;
	font-size: 1rem;
	border-bottom: 4px solid transparent;
}

.service.main {
	font-size: 1.5rem;
}

.service.active {
	border-color: #28a745;
	box-shadow: 0 0 4px 2px #28a745;
}

.service.inactive {
	border-color: #dfc327;
	box-shadow: 0 0 4px 2px #dfc327;
}

.service.add {
	padding: 0;
	background-color: transparent;
}

.service.add select {
	border: 0;
	padding: 0.75rem;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.service.add button {
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #28a745;
	color: white;
	padding: 0.75rem;
	border: 0;
	cursor: pointer;
	font-size: 1rem;
}

.services.selectable .service {
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

.services.selectable .service:hover {
	box-shadow: 0 0 4px 2px white;
}

.service .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.service .title:last-child {
	margin-bottom: 0;
}

.loading {
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.service img {
	vertical-align: middle;
}

.mymangadex {
	color: rgba(47, 82, 162);
}

.mymangadex .mangadex {
	color: black;
}

.myanimelist {
	color: rgba(47, 82, 162);
	border-color: rgba(47, 82, 162);
}

.anilist {
	color: rgb(31, 38, 49);
	border-color: rgb(31, 38, 49);
}

.anilist .list {
	color: rgb(2, 169, 255);
}

.kitsu {
	color: rgb(253, 117, 92);
	border-color: rgb(253, 117, 92);
}

.mangaupdates {
	color: rgb(184, 193, 202);
	border-color: rgb(184, 193, 202);
}

.animeplanet {
	color: rgb(252, 83, 66);
	border-color: rgb(252, 83, 66);
}

.block {
	padding: 0.5rem;
	border-radius: 3px;
	background-color: #e0dfe0;
	border: 1px solid #d0d0d1;
	color: #131313;
	margin: 0 0.5rem 1rem 0.5rem;
}

.notification.info {
	border: 0;
	border-left: 4px solid #1974c6;
	color: white;
	background-color: #65acec;
	box-shadow: 0 0 2px 1px #1974c6;
}

.notification.warning {
	border: 0;
	border-left: 4px solid #fff384;
	color: #1a1609;
	background-color: #ffdd57;
	box-shadow: 0 0 2px 1px #fff384;
}

.notification.danger {
	border: 0;
	color: white;
	background-color: firebrick;
	border-left: 4px solid rgb(150, 26, 26);
	box-shadow: 0 0 2px 1px firebrick;
}

.notification.success {
	border: 0;
	color: white;
	background-color: #28a745;
	border-left: 4px solid #228b3a;
	box-shadow: 0 0 2px 1px #28a745;
}

.block p {
	margin: 0.25rem 0;
}

.color-input {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	margin-bottom: 0.5rem;
}

.color-input:last-of-type {
	margin-bottom: 0;
}

#highlights .color-input button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

#highlights button.success {
	margin-top: 0.5rem;
}

input,
button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

button,
.button {
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	transition: 0.1s ease-in-out;
	font-size: 1rem;
	padding: 0.5rem;
}

button.success,
.button.success {
	color: white;
	background-color: #28a745;
}

button.success:hover,
.button.success:hover {
	background-color: #228b3a;
}

button.danger,
.button.danger {
	color: white;
	background-color: firebrick;
}

button.danger:hover,
.button.danger:hover {
	background-color: rgb(150, 26, 26);
}

button.action,
.button.action {
	color: white;
	background-color: #2b2b2b;
}

button.action:hover,
.button.action:hover {
	background-color: #464646;
}

button.default,
.button.default {
	color: white;
	background-color: #1261bb;
}

button.default:hover,
.button.default:hover {
	background-color: #1055a3;
}

.button-group {
	display: flex;
	flex-flow: row nowrap;
}

.button-group button,
.button-group .button {
	border-radius: 0;
}

.button-group .grow {
	flex-grow: 1;
}

.button-group button:first-child,
.button-group .button:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button-group button:last-child,
.button-group .button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

input {
	padding: 0.25rem;
	font-size: 1rem;
}

.color {
	display: inline-block;
	padding: 0.75rem;
	border: 1px solid gray;
	border-left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.checkbox {
	display: inline-flex;
	flex-flow: row nowrap;
}

.checkbox .on,
.checkbox .off {
	background-color: #5a6268;
	padding: 0.5rem;
	color: white;
	border: 0;
	cursor: pointer;
	transition: 0.1s ease-in-out;
	font-size: 1rem;
}

.checkbox .on:hover,
.checkbox .off:hover {
	background-color: rgb(84, 91, 98);
}

.checkbox .on {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.checkbox .off {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.checkbox.enabled .on {
	background-color: #28a745;
}

.checkbox.disabled .off {
	background-color: firebrick;
}

.checkbox .dependency {
	margin-left: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox.disabled .dependency {
	display: none;
}

input.invalid {
	box-shadow: 0 0 4px 1px firebrick;
}

.hidden {
	display: none;
}

.row {
	margin-bottom: 0.5rem;
}

.row input[type='checkbox'] {
	vertical-align: middle;
}

label {
	margin-right: 1rem;
	cursor: pointer;
}

input[type='file'] {
	margin-right: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.center {
	text-align: center;
	justify-content: center;
}

/* SimpleModal */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	z-index: 2;
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal .content {
	background-color: var(--bg-light);
	margin-left: 20%;
	margin-right: 20%;
	overflow: hidden;
	border-radius: 4px;
	cursor: initial;
	max-height: 75vh;
	display: flex;
	flex-flow: column nowrap;
}

.modal .header {
	flex-shrink: 0;
}

.modal .body {
	overflow: auto;
}

.modal .close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}

.modal .close-button:hover {
	background-color: darkgray;
}
